<!DOCTYPE html>
<html>
{% load static %}
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    

	<title>Labs</title>

	<style >
	</style>
</head>
<body>

	<div class="container-fluid">
		<div class="card">
  		<div class="card-header text-center" >
    		<h2 class="text-primary text-center" >All Labs</h2>
      <a href="/logout/" ><button type="button" class="btn btn-dark btn-lg" style="float: right"> Logout </button></a>   
  		</div>

  		<div class="card-body">
        
         <div class="row">
             <button type="button" class="btn btn-secondary btn-lg" style="float: left">  LABS </button>
             
         </div>
      </br>

    {% if labs %}
      <!-- for loop of Labs -->
      {% for lab in labs %}
        <div class="card">
          <div class="card-body">
            <div class="row">
             &nbsp;&nbsp;&nbsp; <h5><a href="/lab/{{lab.id}}/"> {{lab.labname}} </a> </h5>
            </div>
          </div>
        </div>
      {% endfor %}
   		<!-- loop ends here -->
    {% endif %}
    	</div>
  		</div>
	</div>








<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>